services:
  bot:
    image: riper3d/survey_bot
    env_file:
      - .env
    build: .
    container_name: survey_bot
    depends_on:
      - db
    volumes:
      - ./app/:/code/app/
      - ./logs:/code/logs

  db:
    image: postgres:16
    container_name: survey_db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5435:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: